.contact-header {
    height: 70vh;
    text-align: center;
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1566125882500-87e10f726cdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    padding: 0 20vw;
}

.contact-header h1, .contact-header p {
    color: #020017;
    font-family: 'roboto', monospace;
}

.contact-header p {
    font-size: 1.1rem;
}