.team {
    position: relative;
}

.team-header {
    height: 70vh;
    text-align: center;
    display: flex;
    background-color: #dcdcdc;
    flex-direction: column;
    justify-content: center;
    padding: 0 20vw;
}

.team-header h1, .team-header p {
    color: #020017;
    font-family: 'roboto', monospace;
}



